@page "/"
@using Services
@inject HttpClient Http
@inject SamplesClient _SamplesClient
<h1>Sample Apps</h1>

<i><b>An Index into the Sample C# Projects </b></i>
<br />
<i><b>Can recurse into folders collecting information about solution, project and C# source files.</b></i>
<br />
<i><b>Can also note image and ReadMe (.md) fiiles</b></i>
<br />
<i><b>See the Index page </b></i>
<br />
<br />
 For example, can use folders from the following GitHub repositories:
<br />
<ul>
    <li>
        <a href="https://github.com/dotnet/iot">dotnet/iot</a>
        <ul>
            <li><a href="https://github.com/djaus2/iot">Alt: djaus2/iot</a></li>
        </ul>
    </li>
    <li><a href="https://github.com/Azure/azure-iot-sdk-csharp">Azure IoT Hub SDK CSharp</a></li>
</ul>.
@if (RootFolder == null)
{
    <p><em>Loading application data,</em></p>
}
else
{
    <h2>About</h2>
    <p><b><i>Have searched the folders under the folder: </i><font color="blue">@RootFolder.FolderName</font></b></p>
    @if (RootFolder.FolderName[0] == '!')
    {
        <p>@RootFolder.FolderName!</p>
    }
    <h4>File Types of interest.</h4>
    <ul>
        <li>Meta-information collected about them when folders are recursively scanned.</li>
        <li>
            Project files of interest:
            <ul>
                <li>.csproj</li>
                <li>.cs</li>
                <li>.sln</li>
            </ul>
        </li>
        <li>
            Other files of interest:
            <ul>
                <li>.md (Markdon:ReadMes)</li>
                <li>Various image file types</li>
            </ul>
        </li>
        <li>
            All other file types are ignored:
            <ul>
                <li>If a leaf folder (bottom of a recurse) does not have any of the above it is not listed.</li>
            </ul>
        </li>
    </ul>
    <h4>App Details</h4>
    <ul>
        <li><b>Root Tab:</b> This page.</li>
        <li><b>Index Tab: </b>Explore the folders and files in a tree view.</li>
        <li><b>.NET Core proj file Tab:</b> A simple project file for use.</li>
        <li><b>Refresh Tab: </b>Rescan folders-Reload folders from server to client.</li>
        <li>
            <i>In folders can:</i>
            <ul>
                <li>View solution, project, C# files from where you can copy or download file.</li>
                <li>View Image and ReadMe( .md format) files</li>
                <li>If folder has a solution file can get zip of folder (and sub folders)</li>
            </ul>
        </li>
        <li>
            <i>Also:</i>
            <ul>
                <li>
                    <b>Project Tab:</b> Acess from folders that have a .csproj file.
                    <ul>
                        <li>Can view, copy and download individual files from there.</li>
                        <li>Can Zip that folder from there as well.</li>
                    </ul>
                </li>
                <li>Set folder to start scan at in Server appsettings.json</li>
                <li><b><i>Nb:</i></b> Leaf folders without target file types are ignored. But will get zipped up.</li>
            </ul>
        </li>

    </ul>

}

@code
{
    ProjectClasses.FolderTree RootFolder { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (SamplesClient.RootFolder == null)
        {
            var Folders = (await _SamplesClient.Get()).ToList();
        }
        RootFolder = SamplesClient.RootFolder;
        if (RootFolder.FolderName == "None")
        {

        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
