@page "/sample/{FolderId}/{Filename}"
@inject HttpClient Http
@using Services
@using GetSampleApps.Client.Components
@inject SamplesClient _SamplesClient
@inject NavigationManager navigationManager
<h2>Display Sample File</h2>
<table border="1">
    <tr>
        @*  *@
    <td><b><i>File:</i></b></td>
    <td>@ShowFileName</td>
</tr>
</table>

<ClipBoardComponent Text="" FolderId=@FolderId Filename=@ShowFileName />

@code
{
    [Parameter]
    public string FolderId { get; set; }

    [Parameter]
    public string Filename { get; set; }

    public string ShowFileName { get; set; }


    protected override async Task OnInitializedAsync()
    {
        System.Diagnostics.Debug.WriteLine("****");
        System.Diagnostics.Debug.WriteLine(FolderId);
        System.Diagnostics.Debug.WriteLine(Filename);
        System.Diagnostics.Debug.WriteLine("****");
        await base.OnInitializedAsync();
        ShowFileName = Filename;
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            base.OnAfterRender(firstRender);
            StateHasChanged();
        }
    }
}
