<!-- ZipComponent.razor -->
@using System.IO
@using Services 
@inject IJSRuntime JSRuntime
@inject SamplesClient _SamplesClient


<button type="button" class="btn btn-primary" @onclick="DownloadZipFile">ZIP</button>
@code {
    [Parameter]
    public int FolderId { get; set; }

    public string showFilename { get; set; } = "";

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ProjectClasses.FolderTree Folder = SamplesClient.FolderDict[FolderId];

        showFilename = $"{Folder.FolderName}.zip";
    }


    // Ref: https://docs.microsoft.com/en-us/dotnet/api/system.convert.tobase64string?view=netcore-3.1
    // Look for example under ToBase64(Byte[], Base64FormattingOPetion)
    // It does a Convert.ToBase64String followed by Covert.FromBas64String
    // Note: No data type strings as used with images

    async Task DownloadZipFile()
    {
        string Text = showFilename;
        string param = $"{showFilename}~{FolderId}~Zip";
        string Filecontents = await _SamplesClient.GetTextorTextFile(param);
        byte[] bytes = Convert.FromBase64String(Filecontents);
        await FileUtil.SaveAs(JSRuntime, showFilename, bytes);
    }

    public static class FileUtil
    {
        public async static Task SaveAs(IJSRuntime js, string filename, byte[] data)
        {
            await js.InvokeAsync<object>(
                "saveFile",
                filename,
                Convert.ToBase64String(data));
        }
    }


}
