@page "/"
@page "/root"
@inject HttpClient Http
@inject Services.SamplesClient _SamplesClient
<h1>Sample Apps</h1>

<i><b>An Index into the Sample C# Projects </b></i>
<br />
<i><b>Can recurse into folders collecting information about solution, project and C# source files.</b></i>
<br />
<i><b>Can also note image and ReadMe (.md) fiiles</b></i>
<br />
<i><b>See the Index page </b></i>
<br /><br />
 For example, can use folders from the following GitHub repositories:<br />
<ul>
    <li><a href="https://github.com/dotnet/iot">dotnet/iot</a>
    <ul>
        <li><a href="https://github.com/djaus2/iot">Alt: djaus2/iot</a></li>
    </ul>
    </li>
    <li><a href="https://github.com/Azure/azure-iot-sdk-csharp">Azure IoT Hub SDK CSharp</a></li>
</ul>.

@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
