@page "/sample/{FolderId}/{Filename}"
@inject HttpClient Http
@using GetAnAzureIoTQuickstartApp.Client.Services
@using GetAnAzureIoTQuickstartApp.Client.Components
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
<h2>Display Sample File</h2>
<table border="1">
    <tr>@*  *@
        <td><b><i>File:</i></b></td><td>@ShowFileName</td>
    </tr>
</table>

<ClipBoardComponent Text=@TextToCopy Filename=@ShowFileName />

@code
{
    [Parameter]
    public string FolderId { get; set; }

    [Parameter]
    public string Filename { get; set; }

    public string ShowFileName { get; set; }


    public string TextToCopy { get; set; } = "";
    ProjectClasses.FolderTree Folder;


    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        int id = int.Parse(FolderId);

        ShowFileName = Filename;
        string param = $"{Filename}~{id}";
        string Filecontents = await _SamplesClient.GetFile(param);
        TextToCopy = Filecontents;
        StateHasChanged();
    }

    bool FirstRender = false;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            base.OnAfterRender(firstRender);
            StateHasChanged();
        }
    }
}
