@page "/showreadme/{FolderId}/{ReadMePath}"
@using GetAnAzureIoTQuickstartApp.Shared
@using ProjectClasses
@using GetAnAzureIoTQuickstartApp.Client.Components
@inject HttpClient Http
@inject Services.SamplesClient _SamplesClient
@inject NavigationManager navigationManager
@using  GetAnAzureIoTQuickstartApp.Client.Services;

<h3>Project Read Me</h3>
<table>
    <tr><td align="right"><b><i>Folder Name:</i></b></td><td><h1>@Folder.FolderName</h1></td></tr>
    <tr><td align="right"><b><i>Read Me:</i></b></td><td>@ReadmePath</td></tr>
</table>

<br />
<ReadMe FolderId=@FolderId MarkdownFilename=@ReadmePath  />
<br />


@code {
    [Parameter]
    public string FolderId { get; set; }

    [Parameter]
    public string ReadmePath { get; set; }

    ProjectClasses.FolderTree Folder { get; set; }



    protected override void OnAfterRender(bool firstRender)
    {

    }


    //bool done = false;
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        int id = int.Parse(FolderId);


        Folder = SamplesClient.FolderDict[id];
        StateHasChanged();
    }
}

}




}
